:root {
    --sizeindex: calc(1vw + 1vh);
    --bc_color: #000000;
    --text_color: #fff;
}

@font-face {
    font-family: 'Golos Text';
    src: url('../fonts/GolosText-Regular.woff2') format('woff2'),
        url('../fonts/GolosText-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

body {
    width: 100%;
    font-family: 'Golos Text', Arial, sans-serif;
    font-weight: 400;
    font-size: var(--sizeindex);
    background: var(--bc_color);
    color: var(--text_color);
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 1920px;
    height: auto;
    margin: 0 auto;
    padding: 10.5rem 0 0 0;
    box-sizing: border-box;
    border: 1px solid #fff;
    gap: 7vh
}


.header__text {
    text-align: center;
    opacity: 0.5;
    font-size: calc(var(--sizeindex) * 0.8);
    margin: 0;
}

.content {
    max-width: 95%;
    margin: 0 auto;
    width: 100%;
    margin-bottom: 2vh;
}

.content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    white-space: normal;
    text-transform: uppercase;
    font-size: calc(var(--sizeindex) * 3.9);
    row-gap: 0.5vh;
    column-gap: 1.5vw
}

.content__text,
.content__img {
    display: inline-flex;
    margin-right: 6px;
}

.content__text {
    font-size: calc(var(--sizeindex) * 3.9);
    line-height: 1;
    letter-spacing: -2.5px;

}

.left {
    margin-left: 12vw;
}

.rigth {
    margin-right: 12vw;
}


/* button */
.footer {
    /* text-align: center; */

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    /* расстояние между кнопкой и линией */
}

.footer__button {
    position: relative;
    padding: 27px 80px;
    font-size: calc(var(--sizeindex) * 0.8);
    color: var(--bc_color);
    background-color: var(--text_color);
    border: none;
    cursor: pointer;
    outline: none;
    clip-path: polygon(19% -25%, 85% 0%, 91% 50%, 85% 100%, 15% 100%, 9% 50%);
    white-space: nowrap;
    transition: background-color 0.3s ease;

    z-index: 2; 
}

/* line */

.footer__line {
    position: absolute;
    width: 63%;
    height: 2px; 
    background-color: var(--text_color); 
    z-index: 1;
}